<!-- {{id}} -->
<span>{{err}}</span>
<div class='wrapper'>
  <div class='block' 
    (keyup)='updateFromBlock()' (focusout)='save()'
    >
    <div class='block-type'>
      <h2>{{block.type}}</h2>
      <button (click)='deleteBlock($event)'>Delete</button>
    </div>
      <form class='form' (submit)='addType($event)'>
        <label for='title'>Title</label>
        <br/>
        <input type='text' name='title' class='title' [(ngModel)]='block.title.value' />
        <br />
        <br />
        <label for='description'>Accessibility</label>
        <br/>
      <div 
        *ngFor="let checkbox of block.description.options;
                let i = index "
                (focusin)='updateFromBlock()'
                >
          <input 
            type='checkbox' 
            class='checkbox' 
            [(ngModel)]='block.description.options[i].value' 
            [name]='block.description.options[i].title'
          />
          <label for="checkbox">{{block.description.options[i].title}}</label>
      </div>
      </form>
  </div>
</div>
