<!-- {{id}} -->
<span>{{err}}</span>
<div class='wrapper' 
  (keyup)='updateFromBlock()' (focusout)='save()'>
  <div class='block'>
    <div class='block-type'>
      <h2>{{ block.type}}</h2>
      <button (click)='deleteBlock($event)'>Delete</button>
    </div>
    <form class='form'  >
      <label for='title'>{{block.title.key}}</label>
      <br/>
      <input type='text' name='title' [(ngModel)]='block.title.value' />
      <br />
      <br />
      <label for='description'>{{block.description.key}}</label>
      <br/>
      <textarea type='text' name='description' [(ngModel)]='block.description.value'>
      </textarea>
    </form>
  </div>
</div>
